<html lang="ru">
<head>
  <meta charSet="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/framework/normalize.css">
  {{#each modules}}
    <link rel="stylesheet" href="css/framework/{{this}}">
  {{/each}}
  <link rel="stylesheet" href="css/app/index.css">
</head>
<body>
<div class="app-head">
  <div class="app-menu">
    {{#each pages}}
      <a class="link app-menuLink{{#activePage key}} app-menuLink--active{{/activePage}}" href="{{key}}.html">
        {{title}}
      </a>
    {{/each}}
  </div>
</div>

<div class="app-page">
  <h1 class="h1">{{title}}</h1>
  {{> content}}
</div>

<div class="app-breakpoint">
  <div class="hide-xl">MAX</div>
  <div class="hide hide-unset-xl hide-lg">XL</div>
  <div class="hide hide-unset-lg hide-md">LG</div>
  <div class="hide hide-unset-md hide-sm">MD</div>
  <div class="hide hide-unset-sm">SM</div>
</div>
</body>
</html>
