<html lang="ru">
<head>
  <meta charSet="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/framework/normalize.css">
  {{#each modules}}
    <link rel="stylesheet" href="css/framework/{{this}}/index.css">
  {{/each}}
  <link rel="stylesheet" href="css/app/index.css">
</head>
<body>
<div class="app-head">
  <div class="app-menu">
    {{#each pages}}
      <a class="link app-menuLink{{#activePage key}} app-menuLink--active{{/activePage}}" href="{{key}}.html">
        {{title}}
      </a>
    {{/each}}
  </div>
</div>

<div class="app-page">
  <h1 class="h1">{{title}}</h1>
  <p class="paragraph">
    <a class="link" href="standalone/{{key}}.html">
      Standalone page
    </a>
  </p>
  {{> content}}
</div>

<div class="app-breakpoint">
  <span class="display-max">max</span>
  <span class="display-xl">xl</span>
  <span class="display-lg">lg</span>
  <span class="display-md">md</span>
  <span class="display-sm">sm</span>
</div>
</body>
</html>
